@import viewModels.ArticlePageViewModel
@(viewModel: ArticlePageViewModel)

<article>
    <h1>@viewModel.article.title</h1>
    <div class="description">
    @viewModel.article.description
    </div>
    <div class="bodyText">
    @viewModel.article.bodyText
    </div>
</article>

@for(b <- viewModel.bodyBanners) {
    <div class="bannerWrapper body bottom">
        <iframe
        class="banner body"
        width="@b.width"
        height="@b.height"
        scrolling="no"
        tabindex="-1"
        loading="lazy"
        referrerpolicy="strict-origin-when-cross-origin"
        src="@b.serve"
            @if(b.html.nonEmpty) {
                srcdoc="@b.html"
                }
        ></iframe>
    </div>
}




