@import viewModels.ArticlePageViewModel
@(viewModel: ArticlePageViewModel)

@title = @{viewModel.article.title}

@head = {
	<link rel="stylesheet" href="@routes.Assets.versioned("css/components/banner.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("css/components/layouts/page.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("css/components/layouts/article.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("css/components/header.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("css/components/footer.css")">
}

@body = {
	@views.html.components.layouts._page(
		/* Header */
		views.html.components._header(),
		/* Main */
		views.html.components.layouts._article(viewModel.article),
		/* Footer */
		views.html.components._footer(),
		/* Left sidebar */
		Html("LEFT"),
		/* Right sidebar */
		Html("RIGHT"),
	)
}

@_main(title)(head)(body)
