@import viewModels.ArticlePageViewModel
@(viewModel: ArticlePageViewModel)

@title = @{viewModel.article.title}

@head = {
	<link rel="stylesheet" href="@routes.Assets.versioned("css/components/banner.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("css/components/layouts/page.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("css/components/article.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("css/components/header.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("css/components/footer.css")">
    <script defer src="@routes.Assets.versioned("js/utils/BannerUtil.js")" type="text/javascript"></script>
}

@body = {
	@views.html.components.layouts._page(
		/* Header */
		views.html.components._header(),
		/* Main */
		views.html.components._article(viewModel),
		/* Footer */
		views.html.components._footer(),
		/* Left sidebar */
        views.html.components._sidebar(viewModel.sidebarLeftBanners),
		/* Right sidebar */
        views.html.components._sidebar(viewModel.sidebarRightBanners),
	)
}

@_main(title)(head)(body)
